---
title: "validation.validation_result"
generated: "2026-09-06T04:43:04Z"
node_type: "db-table"
schema: "validation"
table: "validation_result"
classification: "T"
entity_form: "?"
module: "domain-validation"
rls: "Y"
soft_delete: "?"
r_w: "?"
owner_crate: "domain-validation"
parent: "20-database/_schema/schema-validation"
---

# validation.validation_result

**Schema**: [[schema-validation]]
**表名**: `validation.validation_result`
**分类 (W/T/M)**: T
**实体形态**: ? (E=Entity / W=Weak / L=Lookup / P=Projection / MV / A=Append-only / O=Outbox)
**Module**: `domain-validation`
**R/W**: ?
**RLS**: Y
**soft delete**: ?
**主键**: `id`
**主责 crate**: [[crate-domain-validation]]

**源文档**: `D:/Star/docs/data-design/ipa-detail/tables/validation_validation_result.md`
